*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: Geneva, Helvetica, Tahoma, sans-serif;
    padding: 0vh 2vw;
}

canvas {
    border: 2px solid black;
    height: max(400px,min(50vh, 50vw)) ;
    width: max(400px, min(50vh, 50vw)) ;
    background-color: rgba(0,0,0,0.1);
    cursor: grabbing;
}

button {
    font: inherit;
    min-width: 10rem;
}

.flex-row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:.5rem;
}
.panel{
    justify-content: space-evenly;
}
.flex-column{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap:1rem;
}


.display-value-box{
    padding:0.25rem 3rem ;

}

#compliancebox{
    background-color: beige;

}
.box{
    height:1.5rem;
    width: 1.5rem;
    border: 1px solid black;
    cursor: grab;

}

.white{
    background-color: white;

}
.black{
    background-color: black;
}
.gray{
    background-color: gray;
}

.ispicked{
    border:2px solid red;
}


